*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --green: #426b1f;
  --gray: #6d6d6d;
  --cream: #fafaf5;
  --white: white;
  --black: black;
}
.container{
  margin: auto;
  padding: 0 15px;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
.btn{
  background-color: var(--green);
  color: var(--white);
  border-radius: 8px;
  transition:  background-color .3s ease-in-out ;
}
.btn:hover{
  background-color: rgb(56, 91, 28)
}
.hero {
  text-align: center;
  padding: 100px 0;
}
@media(max-width:992px){
  .hero {
    padding: 50px 0;
  }
}
.hero .container h1{
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -2%;
  max-width: 80%;
  margin: 0 auto;
}
.hero .btn{
  display: block;
  width: fit-content;
  margin: 40px auto;
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.category .container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 190px;
}
.category .item{
  max-width: 50%;
}
.container figure{
  max-width: 50%;
}
@media(max-width:992px){
  .category .container{
    flex-wrap: wrap;
    gap: 10px;
  }
  .category .item{
    max-width: 100%;
  }
  .container figure{
    max-width: 100%;
  }

}
